body {
    margin: 0px;
}

.white {
    color: #9a9a9a !important;
}

p.small {
    word-break: normal;
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
}

/* Navbar design */
.nav {
    background-color: black;
    text-align: right;
    padding: 30px 10.625em;
    /* height: fit-content; */
}

.links {
    text-decoration: none;
    color: white;
    margin-right: 25px;
    font-family: "ProximaNovaRegular";
}

.bearlogo {
    padding: 0px;
    float: left;
    width: 140px;
    margin-left: 10px;
    margin-top: -10px;
}

.navbtn {
    display: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 4px;
    float: right;
    padding-bottom: 1px;
    background-color: transparent;
    cursor: pointer;
}

.navbtn:hover {
    filter: invert(50%);
    border: 1px solid white;
}

.navbtn:active {
    filter: invert(0%);
    background-color: #9a9a9a;
}

.nav-collapse {
    display: block;
}

/* Header Design */
.header {
    text-align: center;
    padding: 180px 0px 340px;
    background-image: url('/images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-title {
    font-family: "ProximaNovaLight";
    font-size: 44px;
    font-weight: 100;
    margin-bottom: 10px;
}

.subheader {
    font-family: "STMGoudy";
    color: #808283;
    letter-spacing: 1px;
    font-size: large;
}

.btnContact {
    cursor: pointer;
    border: 0px;
    background-color: black;
    color: white;
    margin-top: 14px;
    padding: 14px 60px;
    letter-spacing: 1px;
    font-family: "ProximaNovaRegular";

}

/* Slicing Test */
.slicingTest {
    text-align: center;
    padding: 2.5em 21.25em;
}

.smalltitle {
    font-size: 2.25em;
}

.subtext {
    font-family: "Lato";
    color: #555555;
    line-height: 1.5;
}

/* 2 column layout */
.columnLayout {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1.875em;
    background-color: black;
    color: white;
    padding: 1.875em 12.5em;
}

/* Forms */

.formcont {
    margin: 2.5em 11.25em;
    padding: 0.625em 3.125em;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #dde5e5;
    padding-top: 3.125em;
}

.wrapped {
    margin-right: 2.8125em;
}

.wrappedttl {
    margin-top: 10px;
}

.wraptxt {
    font-size: 14px;
    /* padding-right: 0px; */
    line-height: 1.6;
    font-family: "Lato";
}

.contactForm {
    display: block;
    background-color: black;
    color: white;
    height: fit-content;
    margin-bottom: 20px;
}

.frmTtl {
    text-align: center;
    font-family: "STMGoudy";
    font-weight: 400;
    /* font-style: italic; */
    font-size: 2.375em;
    margin-top: 1.3em;
    margin-bottom: 0em;
    color: #b4b4b4;
}

form {
    padding: 1em 3.125em;
}

label {
    font-family: "Lato";
}

.Input {
    width: 95%;
    padding: 0.625em;
    margin-top: 0.625em;
    margin-bottom: 1.5625em;
}

.phonecont {
    display: flex;
}

.code {
    width: 10%;
    padding: 0.625em;
    margin-top: 0.625em;
    margin-bottom: 1.5625em;
}

.number {
    margin-bottom: 1.5625em;
    margin-top: 0.625em;
    padding: 0.625em;
    margin-left: 6px;
    width: 80%;
}

.formSubmit {
    cursor: pointer;
    border: 0em;
    color: white;
    margin-top: 4px;
    margin-bottom: 28px;
    padding: 18px 60px;
    letter-spacing: 2px;
    font-family: 'ProximaNovaRegular';
    font-weight: bold;
    background-color: #dca115;
    text-transform: uppercase;
}

/* Footer */

footer {
    padding: 3em 11.25em;
    background-color: black;
    color: #777777;
    display: grid;
    grid-template-columns: auto auto;
    font-family: 'Lato';
    line-height: 2;
    font-size: .7em;
}

.col1 {

    text-align: left;
}

.col2 {
    margin-top: 1.5625em;
    text-align: right;
}

.footertxt {
    margin: 0em;
}

/* fonts */
@font-face {
    font-family: "ProximaNovaRegular";
    src: url("/fonts/Proxima Nova Regular.ttf");
}

@font-face {
    font-family: "ProximaNovaLight";
    src: url("/fonts/Proxima Nova Light.ttf");
}

@font-face {
    font-family: "STMGoudy";
    src: url("/fonts/SortsMillGoudy-Regular.ttf");
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Regular.ttf");
}

@media screen and (max-width:900px) {
    .slicingTest {
        padding: 1em 1em;
    }

    .columnLayout {
        column-gap: 1.875em;
        background-color: black;
        color: white;
        padding: 1.875em 1em;
    }

    .formcont {
        margin: 2.5em 1.25em;
        padding: 0.4em 3.125em;
        grid-template-columns: auto;
        padding-top: 3.125em;
    }

    footer {
        padding: 3em 2.95em;
        grid-template-columns: auto;
        font-family: 'Lato';
        line-height: 2;
        font-size: .55em;
        padding-bottom: 20px;
    }

    .col2 {
        margin-top: 0em;
        text-align: left;
    }

    .carlocabLogo {
        height: 40px;
    }
}

@media screen and (max-width:600px) {

    .nav {
        background-color: black;
        text-align: right;
        height: 1.5em;
        padding: 20px 1em;
    }

    .bearlogo {
        padding: 0px;
        float: left;
        width: 140px;
        margin-left: 0px;
        margin-top: -10px;
    }

    .links {
        /* display: flex;
        flex-basis: auto; */
        margin: 0%;
        line-height: 2;
        letter-spacing: 2px;
        padding: 0px 20px 10px 190px;
        text-transform: uppercase;
        text-align: right;
    }


    .nav-collapse {
        background-color: black;
        margin-top: 40px;
        position: sticky;
        display: none;
    }

    .header-title {

        font-size: 22px;
    }

    .subheader {
        font-size: x-small;
    }


    .btnContact {
        font-size: x-small;
        margin-top: 10px;
        padding: 10px 40px;
    }

    .header {
        padding: 200px 0px 400px;
    }
}